:root{
    --grid-size-xlarge: 60px;
    --grid-size-large: 50px;
    --grid-size-medium: 42px;
    --grid-size-small: 38px;
    --grid-size-xsmall: 32px;
    --snake-size-offset: 0.15;
    --inner-size-offset: 0.075;

    --border-radius: 0.05;
    --grid-font-size: 0.36;
}

.grid-container{
    display: block;
}

@media only screen and (max-width: 410px) {
    .grid-container-large {
        --grid-size: var(--grid-size-small);
    }
    .grid-container-medium{
        --grid-size: var(--grid-size-xsmall);
    }
}

@media only screen and (min-width: 410px) and (max-width: 600px) {
    .grid-container-large {
        --grid-size: var(--grid-size-medium);
    }
    .grid-container-medium{
        --grid-size: var(--grid-size-small);
    }
}

@media only screen and (min-width: 600px) {
    .grid-container-large {
        --grid-size: var(--grid-size-xlarge);
    }
    .grid-container-medium{
        --grid-size: var(--grid-size-large);
    }
}

.grid-container-small{
    --grid-size: var(--grid-size-small);
}

.grid-container-small{
    --grid-size: var(--grid-size-xsmall);
}

.tile {
    height: var(--grid-size);
    width: var(--grid-size);
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-color-1{
    .coloured-tile {
        background-color: var(--tile-color-1);
    }
    .inner-corner {
        background-color: var(--tile-color-1);
    }
}

.tile-color-2{
    .coloured-tile {
        background-color: var(--tile-color-2);
    }
    .inner-corner {
        background-color: var(--tile-color-2);
    }
}

.tile-color-3{
    .coloured-tile {
        background-color: var(--tile-color-3);
    }
    .inner-corner {
        background-color: var(--tile-color-3);
    }
}

.word-container{
    display: flex;
    justify-content: center;
}
  
.snake-head{
    pointer-events: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--snake-color);
    position: absolute;
    /* Border calculation */
    --round-border: calc(0.5*var(--grid-size)*(1 - 2*var(--snake-size-offset)));
}

.snake-preview{
    background-color: var(--snake-hover-color);
}

.hint{
    height: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    margin: calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: calc(0.5*var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    background-color: var(--hint-color);
}

.hint-wrong{
    background-color: var(--hint-color-wrong);
}

.end{
    height: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    margin: calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: var(--round-border);
}

.south-end{
    height: calc(var(--grid-size)*(1 - var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    margin: calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset)) 0 calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: var(--round-border) var(--round-border) 0 0;
}

.north-end{
    height: calc(var(--grid-size)*(1 - var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    margin: 0 calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset))calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: 0% 0% var(--round-border) var(--round-border);
}

.west-end{
    height: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - var(--snake-size-offset)));
    margin: calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset)) 0;
    border-radius: 0% var(--round-border) var(--round-border) 0%;
}

.east-end{
    height: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - var(--snake-size-offset)));
    margin: calc(var(--grid-size)*var(--snake-size-offset))  0 calc(var(--grid-size)*var(--snake-size-offset))  calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: var(--round-border) 0% 0% var(--round-border);
}

.vertical-through{
    height: var(--grid-size);
    width: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    margin: 0  calc(var(--grid-size)*var(--snake-size-offset)) 0  calc(var(--grid-size)*var(--snake-size-offset));
}

.horizontal-through{
    height: calc(var(--grid-size)*(1 - 2*var(--snake-size-offset)));
    width: var(--grid-size);
    margin: calc(var(--grid-size)*var(--snake-size-offset)) 0  calc(var(--grid-size)*var(--snake-size-offset)) 0;
}

.bend{
    height: calc(var(--grid-size)*(1 - var(--snake-size-offset)));
    width: calc(var(--grid-size)*(1 - var(--snake-size-offset)));
}

.south-east {
    margin: calc(var(--grid-size)*var(--snake-size-offset)) 0 0 calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: var(--round-border) 0 0 0;
    .corner{
        top: calc(var(--grid-size)*(1/2 - var(--snake-size-offset)));
        left: calc(var(--grid-size)*(1/2 - var(--snake-size-offset)));
    }
    .inner-corner{
        border-radius: 0 0 calc(var(--grid-size)*var(--border-radius)) 0;
    }
}

.south-west {
    margin: calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset)) 0 0 ;
    border-radius: 0 var(--round-border) 0 0;
    .corner{
        top: calc(var(--grid-size)*(1/2 - var(--snake-size-offset)));
        left: calc(-1*var(--grid-size)*(1/2 - var(--snake-size-offset)));
    }
    .inner-corner{
        position: relative;
        left: calc(var(--grid-size)*(var(--snake-size-offset) - var(--inner-size-offset)));
        border-radius: 0 0 0 calc(var(--grid-size)*var(--border-radius));
    }
}

.north-east {
    margin:  0 0 calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset));
    border-radius: 0 0 0 var(--round-border);
    .corner{
        top: calc(-1*var(--grid-size)*(1/2 - var(--snake-size-offset)));
        left: calc(var(--grid-size)*(1/2 - var(--snake-size-offset)));
    }
    .inner-corner{
        position: relative;
        top: calc(var(--grid-size)*(var(--snake-size-offset) - var(--inner-size-offset)));
        border-radius: 0 calc(var(--grid-size)*var(--border-radius)) 0 0;
    }
}

.north-west {
    margin:  0 calc(var(--grid-size)*var(--snake-size-offset)) calc(var(--grid-size)*var(--snake-size-offset)) 0 ;
    border-radius: 0 0 var(--round-border) 0;
    .corner{
        top: calc(-1*(var(--grid-size)*(1/2 - var(--snake-size-offset))));
        left: calc(-1*(var(--grid-size)*(1/2 - var(--snake-size-offset))));
    }
    .inner-corner{
        position: relative;
        left: calc(var(--grid-size)*(var(--snake-size-offset) - var(--inner-size-offset)));
        top: calc(var(--grid-size)*(var(--snake-size-offset) - var(--inner-size-offset)));
        border-radius: calc(var(--grid-size)*var(--border-radius)) 0 0 0;
    }
}

.corner{
    height: calc(var(--grid-size)*var(--snake-size-offset));
    width: calc(var(--grid-size)*var(--snake-size-offset));
    position: relative;
    background-color: var(--inner-corner-color);
    .inner-corner{
        height: calc(var(--grid-size)*(var(--snake-size-offset) - var(--inner-size-offset)));
        width: calc(var(--grid-size)*(var(--snake-size-offset) - var(--inner-size-offset)));
    }
}

.tile-letter{
    z-index: 2;
    position: absolute;
    font-size: calc(var(--grid-size)*var(--grid-font-size));
    font-weight: bold;
    color: var(--snake-letter-color);
}

.inner-square{
    position: absolute;
    height: calc(var(--grid-size) *(1 - 2 * var(--inner-size-offset)));
    width: calc(var(--grid-size) *(1 - 2 * var(--inner-size-offset)));
    border-radius: calc(var(--grid-size)*var(--border-radius));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    box-sizing: border-box;
    background-color: var(--empty-tile-color);
}

.hintTapIndicator{
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 2;
    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hintTapIndicator.hidden {
    background-color: transparent;
}

@keyframes pulse {
    0% {
        transform: scale(0.3,0.3)
    }

    100% {
        transform: scale(0.6,0.6)
    }
}