.statistic-block {
    display: flex;
    gap: var(--space-large);
}

.statistic-block-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statistics{
    table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid black;
    }
    
    th {
        text-align: left;
    }
    
    td {
        text-align: right;
    }
    
    th,td {
        padding: 5px;
        border: 1px solid black;
    }
}