.gameGridContainer {
    margin: 32px;
}

.tile {
    height: var(--grid-size);
    width: var(--grid-size);
    background-color: var(--main-bg-color);
    box-sizing: border-box;
}

.mini-tile {
    margin: 2px;
    height: 3em;
    width: 3em;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    display: flex;
    border: none;
    font-size: inherit;
    .tile-letter{
        font-weight: normal;
        font-size: 1.5em;
        color:black;
    }
}

.tile-color-1{
    .coloured-tile {
        background-color: var(--tile-color-1);
    }
    .inner-corner {
        background-color: var(--tile-color-1);
    }
}

.tile-color-2{
    .coloured-tile {
        background-color: var(--tile-color-2);
    }
    .inner-corner {
        background-color: var(--tile-color-2);
    }
}

.tile-color-3{
    .coloured-tile {
        background-color: var(--tile-color-3);
    }
    .inner-corner {
        background-color: var(--tile-color-3);
    }
}

.tile-path{
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    margin: 2px;
}

.tile-path-unused {
    color: var(--snake-letter-color);
    background-color: var(--snake-color);
}

.tile-path-used{
    background-color: var(--empty-tile-color);
}

.tile-path-highlighted{
    color: black;
    background-color: yellow;
}

.path-container {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.word-container{
    display: flex;
    justify-content: center;
}

.snake-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.snake-head{
    pointer-events: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--snake-color);
}

.end{
    height: calc(var(--grid-size) - 2*var(--snake-size-offset));
    width: calc(var(--grid-size) - 2*var(--snake-size-offset));
    margin: var(--snake-size-offset);
    border-radius: 50%;
}

.south-end{
    height: calc(var(--grid-size) - var(--snake-size-offset));
    width: calc(var(--grid-size) - 2*var(--snake-size-offset));
    margin: var(--snake-size-offset) var(--snake-size-offset) 0 var(--snake-size-offset);
    border-radius: 50% 50% 0 0;
}

.north-end{
    height: calc(var(--grid-size) - var(--snake-size-offset));
    width: calc(var(--grid-size) - 2*var(--snake-size-offset));
    margin: 0 var(--snake-size-offset) var(--snake-size-offset) var(--snake-size-offset);
    border-radius: 0% 0% 50% 50%;
}

.west-end{
    height: calc(var(--grid-size) - 2*var(--snake-size-offset));
    width: calc(var(--grid-size) - var(--snake-size-offset));
    margin: var(--snake-size-offset) var(--snake-size-offset) var(--snake-size-offset) 0;
    border-radius: 0% 50% 50% 0%;
}

.east-end{
    height: calc(var(--grid-size) - 2*var(--snake-size-offset));
    width: calc(var(--grid-size) - var(--snake-size-offset));
    margin: var(--snake-size-offset) 0 var(--snake-size-offset) var(--snake-size-offset);
    border-radius: 50% 0% 0% 50%;
}

.vertical-through{
    height: var(--grid-size);
    width: calc(var(--grid-size) - 2*var(--snake-size-offset));
    margin: 0 var(--snake-size-offset) 0 var(--snake-size-offset);
}

.horizontal-through{
    height: calc(var(--grid-size) - 2*var(--snake-size-offset));
    width: var(--grid-size);
    margin: var(--snake-size-offset) 0 var(--snake-size-offset) 0;
}

.bend{
    height: calc(var(--grid-size) - var(--snake-size-offset));
    width: calc(var(--grid-size) - var(--snake-size-offset));
}

.south-east {
    margin: var(--snake-size-offset) 0 0 var(--snake-size-offset);
    border-radius: 50% 0 0 0;
    .corner{
        top: calc(var(--grid-size)/2 - var(--snake-size-offset));
        left: calc(var(--grid-size)/2 - var(--snake-size-offset));
    }
    .inner-corner{
        border-radius: 0 0 var(--border-radius) 0;
    }
}

.south-west {
    margin: var(--snake-size-offset) var(--snake-size-offset) 0 0 ;
    border-radius: 0 50% 0 0;
    .corner{
        top: calc(var(--grid-size)/2 - var(--snake-size-offset));
        left: calc((var(--grid-size)/2 - var(--snake-size-offset))*-1);
    }
    .inner-corner{
        position: relative;
        left: calc(var(--snake-size-offset) - var(--inner-size-offset));
        border-radius: 0 0 0 var(--border-radius);
    }
}

.north-east {
    margin:  0 0 var(--snake-size-offset) var(--snake-size-offset);
    border-radius: 0 0 0 50%;
    .corner{
        top: calc(-1*(var(--grid-size)/2 - var(--snake-size-offset)));
        left: calc(var(--grid-size)/2 - var(--snake-size-offset));
    }
    .inner-corner{
        position: relative;
        top: calc(var(--snake-size-offset) - var(--inner-size-offset));
        border-radius: 0 var(--border-radius) 0 0;
    }
}

.north-west {
    margin:  0 var(--snake-size-offset) var(--snake-size-offset) 0 ;
    border-radius: 0 0 50% 0;
    .corner{
        top: calc(-1*(var(--grid-size)/2 - var(--snake-size-offset)));
        left: calc((var(--grid-size)/2 - var(--snake-size-offset))*-1);
    }
    .inner-corner{
        position: relative;
        left: calc(var(--snake-size-offset) - var(--inner-size-offset));
        top: calc(var(--snake-size-offset) - var(--inner-size-offset));
        border-radius: var(--border-radius) 0 0 0;
    }
}

.corner{
    height: var(--snake-size-offset);
    width: var(--snake-size-offset);
    position: relative;
    background-color: var(--inner-corner-color);
    .inner-corner{
        height: calc(var(--snake-size-offset) - var(--inner-size-offset));
        width: calc(var(--snake-size-offset) - var(--inner-size-offset));
    }
}

.tile-letter{
    z-index: 2;
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--snake-letter-color);
}

.inner-square{
    height: calc(var(--grid-size) - var(--inner-size-offset)*2);
    width: calc(var(--grid-size) - var(--inner-size-offset)*2);
    border-radius: var(--border-radius);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: var(--empty-tile-color);
    border: none;
    font-size: inherit;
    box-sizing: border-box;
}