:root {
  --main-bg-color: white;
  --inner-corner-color: white;
  --empty-tile-color: lightgrey;
  --snake-color: rgb(41, 135, 69);
  --secondary-color: white;
  --secondary-color-dark: rgb(226, 226, 226);
  --secondary-text-color: black;
  --snake-letter-color: white;
  
  --tile-color-1: rgb(252, 211, 222);
  --tile-color-2: rgb(252, 246, 189);
  --tile-color-3: rgb(169, 222, 249);
}

.App {
  text-align: center;
  color: rgb(0, 0, 0);
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40px !important;
  .MuiBox-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    padding: 40px;
    width: 400px;
    max-width: 80%;
    box-shadow: 24px;
    background-color: var(--main-bg-color);
    outline: none
  }
  .center-button{
    padding-top: 16px;
  }
}

.center-button{
  .MuiButton-root{
    text-transform: none;
    background-color: var(--secondary-color);
    color: black;
    border-color: black;
  }
  .MuiButton-root:hover{
    background-color: var(--secondary-color-dark);
    border-color: black;
  }
}

