:root {
  --main-bg-color: white;
  --inner-corner-color: white;
  --empty-tile-color: lightgrey;
  --snake-color: rgb(41, 135, 69);
  --secondary-color: white;
  --secondary-color-dark: rgb(226, 226, 226);
  --secondary-text-color: black;
  --snake-letter-color: white;
  --grid-size: 4em;
  --snake-size-offset: 0.6em;
  --inner-size-offset: 0.3em;
  --border-radius: 0.2em;
  
  --tile-color-1: rgb(252, 211, 222);
  --tile-color-2: rgb(252, 246, 189);
  --tile-color-3: rgb(169, 222, 249);
}

.App {
  text-align: center;
  color: rgb(0, 0, 0);
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  .MuiBox-root{
    margin: 16px;
    border-radius: var(--border-radius);
    padding: 40px;
    width: 400px;
    max-width: 80%;
    box-shadow: 24px;
    align-content: center;
    background-color: var(--main-bg-color);
  }
  .center-button{
    padding-top: 16px;
  }
}

.center-button{
  display: flex;
  justify-content: center;
  align-items: center;
  .MuiButton-root{
    text-transform: none;
    background-color: var(--secondary-color);
    color: black;
    border-color: black;
  }
  .MuiButton-root:hover{
    background-color: var(--secondary-color-dark);
    border-color: black;
  }
}

