:root {
  --main-bg-color: white;
  --inner-corner-color: white;
  --empty-tile-color: lightgrey;
  --snake-color: rgb(97, 146, 101);
  --snake-hover-color: rgba(97, 146, 101, 0.438);
  --secondary-color: white;
  --secondary-color-dark: rgb(226, 226, 226);
  --secondary-text-color: black;
  --snake-letter-color: white;
  --empty-letter-color: black;
  
  --tile-color-1: rgb(242, 192, 192);
  --tile-color-2: rgb(216, 210, 157);
  --tile-color-3: rgb(159, 198, 218);
}

.App {
  text-align: center;
  color: rgb(0, 0, 0);
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40px !important;
  .MuiBox-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    box-shadow: 24px;
    background-color: var(--main-bg-color);
    outline: none
  }
  .center-button{
    padding-top: 16px;
  }
}

.center-button{
  .MuiButton-root{
    text-transform: none;
    background-color: var(--secondary-color);
    color: black;
    border-color: black;
  }
  .MuiButton-root:hover{
    background-color: var(--secondary-color-dark);
    border-color: black;
  }
}

.game-container {
  margin-top: 32px;
}