.App {
  text-align: center;
  color: rgb(0, 0, 0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #004cff;
}

.tile {
  height: 4em;
  width: 4em;
  margin: 4px;
  box-sizing: border-box;
}

.tile-grid-empty {
  background-color: lightgrey;
}

.tile-grid-enabled {
  background-color: lightgreen;
}

.tile-grid {
  border: none;
  font-size:inherit;
}  

.tile-path{
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-path-unused {
  background-color: lightgreen;
}

.tile-path-used{
  background-color: lightgray;
}

.tile-path-highlighted{
  background-color: yellow;
}

.path-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.word-container{
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
